body{
	background-color: #567;
}

header{
	height: 30px;
	width: auto;
}

header img{
margin-left: 720px;
}

#memoryContainer{
	background-color: #999;
	width: 800px;
	height: 600px;
	margin: auto;
	margin-top: 50px;
	border-radius: 15px 15px;

}

