body{
	background-color: #567;
}

header{
	height: 30px;
	width: auto;
}

header img{
margin-left: 720px;
}

#memoryContainer{
	background-color: #999;
	width: 96px;
	height: 96px;
	margin: auto;
	margin-top: 50px;
	border-radius: 15px 15px;

}
#text{
	height: 96px;
	width: 96px;
	background-color: #567;
	margin: auto;
	color: #000000;
}

.divs {
	float: left;
	height: 24px;
	width: 24px;
}


