body{
	background-image: url("../pics/backGround.jpg");
	margin: 0px;
	padding: 0px;
}

header{
	height: auto;
	width: auto;
	margin: 0px;
}
#taskbar{
	position: absolute;
	bottom: 0;
	height: 60px; 
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

#app{
	background-image: url("../pics/icon.png");
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 10px; 
	background-color: #FFFFFF;
	opacity: 0.8;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	margin-top: 12px;
	margin-left: 12px;
	height: 40px;
	width: 40px;
}